* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
h2 {
  text-align: center;
  padding-bottom: 20px;
}
p{
  padding-bottom: 5px;
}
button {
  background: none;
  border: none;
  padding: 20px;
  font-size: 16px;
  background-color: #155BB4;
  color: white;
  margin: 20px;
  box-shadow: 0px 0px 7px black;
  transition: background-color 0.2s linear;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  clear: both;
  display: inline-block;
  width:100%;
}

button:hover {
  background-color: #2a76da;
  cursor: pointer;
}

ul {
  list-style-type: none;
  width: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #eeeeee;
}

ul li p {
  margin-bottom: 5px;
}






form#form1 {
  padding-left:50%;
  width:100%;
  clear: both;
}

li {
  border: 2px solid black;
  border-radius: 1em;
  padding: 1em;
  list-style-type: none;
  margin: 4em;
}

qrcode {
padding-left: 50%;
}

input {
display: inline-block;
clear:both;
}

button {
  clear: both;
  display: inline-block;
  width:100% ;
}

li p {
color: silver;
font-size: small;
font-family: monospace;
}

body div {
border-bottom: 1px dashed black;
}
