* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  
}

h2 {
  text-align: center;
  padding-bottom: 20px;
  color:black;
}

p{
  padding-bottom: 5px;
  margin-left:10px;
  margin-bottom:10px;
}
form#form1>button:hover{
  
  background-color: #1FEFFF;
  cursor: pointer;
}
form#form1>button#yes{
  background: none;
  border:none;
  font-size:16px;
  width:200px;
  background-color:#155BB4;
  color:white;
  box-shadow:0px 0px 7px black;
  border-radius: 3px;
  display:inline-block;
  padding-top:5px;
  padding-bottom: 5px;
  float:left;
  margin-left:35%;
  margin-right:5%;
  
}

form#form1>button#no{
  background: none;
  border:none;
  font-size:16px;
  width:200px;
  background-color:#155BB4;
  color:white;
  box-shadow:0px 0px 7px black;
  border-radius: 3px;
  display:inline-block;
  padding-top:5px;
  padding-bottom: 5px;
  
  
}


video#qr-video{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

button#scan{
  background: none;
  border:none;
  font-size:16px;
  width:200px;
  background-color:#155BB4;
  color:white;
  box-shadow:0px 0px 7px black;
  border-radius: 3px;
  display:block;
  padding-top:5px;
  padding-bottom: 5px;
  margin-top:5px;
  
  margin-left:auto;
  margin-right:auto;
  
}


body{
  background-color: #FFEC6A;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top:20px;
  margin-bottom:20px;
  border: solid black 6px;
  border-radius: 10px;
}